:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}
.player .icon-pause {
  display: none;
}
.player.playing .icon-pause {
  display: inline-block;
}
.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

/* CD spinning effect */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}
.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

.dashboard .control {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 30px;
}

.dashboard .control .btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.dashboard #progress {
  width: 80%;
  margin-top: 12px;
}

.active {
  color: var(--primary-color);
}

/* --------------------------------- */

.playlist {
  margin-top: 403px;
  padding: 12px;
}

.playlist .dashboard h2{
  color: var(--primary-color);
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.song.active {
  background-color: var(--primary-color);
}
.song:active {
  opacity: 0.2;
}
.song .body {
  margin-left: 12px;
}
.song.active .title,
.song.active .author {
  color: #fff;
}

.song .options {
  margin-left: auto;
}
.song.active .options {
  color: #fff;
}

.song .options .fa-heart {
  margin-right: 4px;
}

.song .thumb-container {
  width: 16%;
}

.song .thumb {
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}
